**/bin
**/obj
**/.git
**/.github
**/.gitignore
**/node_modules
**/.vscode
**/.idea
**/*.user
**/*.suo
**/*.DS_Store
**/dist
**/build
**/.playwright
**/TestResults
**/*.md
ai_mate_blazor/bin
ai_mate_blazor/obj
